body {  
    background-color: black;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
a {
    color: white;
}
h3 {
    margin: 1vw;
}
#header {
    height: 100vh;
    width: 95vw;
    text-align: center;
}
#header-title {
    padding-top: 40vh;
    font-size: 5vw;
}
#about {
    height: 100vh;
    width: 95vw;
    text-align: center;
}
#about-title {
    padding-top: 10vh;
    font-size: 5vw;
}
#about table img {
    width: 8vw;
}
#contact {
    height: 100vh;
    width: 95vw;
    text-align: center;
}
#contact-title {
    padding-top: 10vh;
    font-size: 5vw;
}
#particles canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#konami {
    display: none;
    position: fixed;
    top: 2%;
    right: 2%;
    width: 4vw;
}
#konami-note {
    display: none;
    position: fixed;
    border: solid white;
    border-radius: 25px;
    background-color: white;
    color: black;
    top: 40%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    padding: 1vw;
}
#settings{
    display: none;
    position: fixed;
    border: solid white;
    border-radius: 25px;
    background-color: white;
    color: black;
    top: 40%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    padding: 1vw;
}